.body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    
}
.slider{
    width: auto;
    height: 500px;
    overflow: hidden;
  }
  .slides{
    width: auto;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: auto;
    transition: 2s;
  }
  
  /* .slide img{
    width: auto;
    height: 500px;
  } */